# 指定发布 npm 的时候需要忽略的文件和文件夹
# npm 默认不会把 node_modules 发上去
config/
example/
src/
static/
docs/
deploy/
.husky/
.vscode/
.babelrc
.editorconfig
.gitignore
.eslintrc
.eslintignore
.prettierrc
.prettierignore
.README.md
LICENSE
package-lock.json
tsconfig.json
yarn.lock